:root {
  /* Dark Mode Colors */
  --bg-dk-md: hsl(210, 10%, 0%);
  --bg-base-dk-md: hsl(210, 10%, 5%);
  --bg-light-dk-md: hsl(210, 10%, 10%);
  /* Dark Mode Font Colors */
  --base-text-dk-md: hsl(210, 17%, 95%);
  --text-muted-dk-md: hsl(210, 17%, 70%);
  /* Dark Mode Opacity Colors */

  /* light Mode Colors */
  --bg-dark-light-md: hsl(0, 0%, 90%);
  --bg-base-light-md: hsl(210, 10%, 95%);
  --bg-light-light-md: hsl(210, 10%, 100%);
  /* Dark Mode Font Colors */
  --base-text-light-md: hsl(0, 0%, 5%);
  --text-muted-light-md: hsl(0, 0%, 30%);
  /* Dark Mode Opacity Colors */

  --primary-font-color: #F8F9FA;

  --primary-white-color: #F8F9FA;
  --secondary-white-color: #E9ECEF;
}

/* Tablet Layout */

@media screen and (min-width: 700px) {
    header {
        display: block;
        margin: 0 1.8rem;
        padding: 0;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    /* Global Styling For Icons */
    .social-icons {
        ul {
            column-gap: 2rem;
        }
    }

    main { 
        .about-us {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content;
            margin-bottom: 13rem;
            border-bottom: var(--bg-light-dk-md) solid 5px;

            div {
                text-align: left;
                h1 {
                    font-size: 4.5rem;
                    #h1-span {
                        padding-bottom: 0.3rem;
                    }
                }

                p {
                    font-size: 1.8rem;
                }

                h4 {
                    font-size: 1.7rem;
                    padding-bottom: 0.8rem;
                }
            }

            .main-img-container {
                justify-self: end;
                img {
                    transform: translate(10px,-120px);
                    grid-column: 2;
                }
            }

            div {
                align-self: end;
                grid-row: 1;
                grid-column: 1;
            }
        }

        .skills-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 3rem;
        }
        
        .project-section {
            display: grid;
            grid-template-columns: max-content max-content;
            column-gap: 1.5rem;
            justify-content: center;

            .project {
                justify-self: start;
                align-self: flex-start;
            }

            .project-header {
                margin: 0;
                font-size: 4.5rem;
            }
            
            .project-contact {
                width: max-content;
                justify-self: end;
                text-align: right;
                font-size: 1.7rem;
                padding-bottom: 1rem;
                border-bottom: var(--text-muted-light-md) 4px solid;
            }

            .project-info {
                width: 98%;
                justify-content: start;
                font-size: 1.5rem;


                h2 {
                    margin: 0;
                }

                
            }


        }
    }

    footer {
        padding: 2rem  2.5rem 0;
        .contact-info {
            width: 400px;
            line-height: 3rem;
            letter-spacing: 1px;
            text-align: center;
        }
        
        .contact-form {
            width: 400px;
            padding: 0;
        }
        
        .footer-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
            font-size: 3.8rem;

            .social-icons {
                ul {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header, main, footer {
        padding: 0 10rem;
    }

    /* .project-container {
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;

        /* .project-tools, project-links {

        } */
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5rem 10rem;

        .contact-info {
            align-self: start;
            justify-self: center;

            h2 {
                margin: 3rem 0 ;
            }
        }

        .footer-info {
            grid-column: 1 / 3;
        }
    }
}