* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Dark Mode Colors */
  --bg-dk-md: hsl(210, 10%, 0%);
  --bg-base-dk-md: hsl(210, 10%, 5%);
  --bg-light-dk-md: hsl(210, 10%, 10%);
  /* Dark Mode Font Colors */
  --base-text-dk-md: hsl(210, 17%, 95%);
  --text-muted-dk-md: hsl(210, 17%, 70%);
  /* Dark Mode Opacity Colors */

  /* light Mode Colors */
  --bg-light-md: hsl(0, 0%, 100%);
  --bg-base-light-md: hsl(210, 10%, 95%);
  --bg-light-light-md: hsl(210, 10%, 90%);
  /* Dark Mode Font Colors */
  --base-text-light-md: hsl(0, 0%, 5%);
  --text-muted-light-md: hsl(0, 0%, 30%);
  /* Dark Mode Opacity Colors */

  --primary-font-color: #F8F9FA;

  --primary-white-color: #F8F9FA;
  --secondary-white-color: #E9ECEF;
}

/* Header Styling */
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: var(--bg-dk-md);
  color: white;
}

header, main {
  margin: 0 1rem 4rem 1rem;
}

header { 
  display: flex;
  font-size: 2rem;
  justify-content: center;

  margin: 1.5rem 0 2rem 0;
  position: relative;
  z-index: 2;

}

.social-icons {
  ul {
    display: flex;
    justify-content: center;
    column-gap: 1rem;

    margin: 1.5rem 0 0 0;

    list-style: none;
  }

  img {
    width: 30px;
    background-color: var(--primary-white-color); /* Remove Background if white icons can be found*/
    border-radius: 50%;
  }
}

main {
  
  .about-us {
    display: flex;
    align-items: center;
    flex-direction: column;

    .main-img-container {

      img {
        background-color: var(--bg-base-dk-md);
        transform: translate(0, -120px);
        z-index: 1;
        border-radius: 1rem;
      }
    }

    div {
      transform: translate(0, -90px);
      text-align: center;
      h1{
        font-size: 3.5rem;
        font-weight: 700;
        #h1-span {
          padding-bottom: 0.8rem;
          border-bottom: var(--text-muted-light-md) solid 3px;
        }
      }

      p{
        margin-top: 1.5rem;
        font-size: 2rem;
        line-height: 4rem;
        font-weight: 400;
      }

      h4 {
        display: inline-block;
        font-size: 2rem;
        letter-spacing: 0.5rem;
        margin-top: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: var(--text-muted-light-md) solid 3px;
      }
    }
  }

  .skills-section {
    transform: translate(0, -50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 3.5rem;

    h2 {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 2rem;
    }
  }

  .project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;


      .project {
        margin: 2rem 0 2rem 0;

        img {
          max-width: 35rem;
          border-radius: 1rem;
        }
      }
      
      .project-tools, h2 {
        margin-top: 1.5rem;
      }

      h2 {
        font-size: 3rem;
      }


      .project-tools {
        display: flex;
        margin: 1.5rem 0 0 0;
        column-gap: 2rem;

        p {
          font-size: 2rem;
        }
      }

      .project-links {
        display: flex;
        column-gap: 1.5rem;

        margin-top: 1.5rem;
        font-size: 2rem;

        
        a {
          padding-bottom: 1rem;
          border-bottom: var(--text-muted-light-md) solid 5px;
          color: inherit;
          text-decoration: none;
        }

        /* Reconfigure Transformation Properties and Transistion */
        .project-links:hover {
          transform: scale(0, 5px);
        }
      }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.4rem;
  padding: 4rem 1rem 2rem 1rem;

  background-color: var(--bg-base-dk-md);

  .contact-info {
    text-align: center;

    h2 {
      font-size: 4.5rem;
      letter-spacing: 3px;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.55rem;
      text-align: justify;
    }
  }

  .contact-form {
    width: 380px;
    padding: 1rem;
    color: var(--base-text-dk-md);

    form {
      display: grid;
      grid-template-columns: 1fr;
      color: var(--base-text-dk-md);
      
      .form-group {
        border-bottom: var(--bg-light-dk-md) solid 2px;
        margin: 1.5rem 0;
        padding: 0 0 1.5rem 0;
        
        input[type=text] {
          margin-left: 1rem;
          padding: 0.5rem 0.3rem;
          background-color: var(--bg-base-dk-md);
          border: none;
          border-radius: 5px;
          color: inherit;
        }

        input[type=text]:hover, textarea:hover, input[type=text]:focus, textarea:focus {
          background-color: var(--bg-light-dk-md);
        }

        input[type=text]:focus {
          outline: none;
        }
        
        textarea {
          width: 100%;
          height: 7rem;
          border-radius: 5px;
          padding: 0.5rem 1rem;
          border: none;
          background-color: var(--bg-base-dk-md);
          color: var(--base-text-dk-md);
          resize: none;
          outline: none;
        }
        
        label[for=name], label[for=email], label[for=message] {
          font-size: 1.5rem;
        }

        label[for=message] {
          margin-bottom: 1rem;
        }
      }

      .form-g1 {
        grid-row: 1;
        grid-column: 1;
      }

      .form-g2 {
        grid-row: 2;
        grid-column: 1;
      }

      .form-g3 {
        display: flex;
        flex-direction: column;
        grid-row: 3;
        grid-column: 1;


        ::-webkit-scrollbar {
          display: none;
        }
      }

      .form-g4 {
        display: flex;
        justify-content: right;
        padding: 0;
        border: none;

        padding-bottom: 1rem;
        
        button {
          padding-bottom: 1rem;
          letter-spacing: 2px;
          background-color: var(--bg-base-dk-md);
          border: none;
          border-bottom: solid mediumaquamarine 3px;
          color: var(--primary-font-color);
        }
      }

    }
    

    img { 
          max-width: 30rem;
    }
  } 

 .footer-info {
  border-top: var(--bg-light-dk-md) solid 3px;
  padding-top: 1rem;
  width: 100%;

   h2 {
     text-align: center;
     font-size: 2rem;
   }
 } 
  
  .social-icons {
    
    ul {
      column-gap: 2.5rem;
    }
  }
}